container_commands:
  01_migrate_account:
    command: "python manage.py migrate accounts"
    leader_only: true
  02_syncdb:
    command: "python manage.py syncdb --noinput"
    leader_only: true
  03_migrate:
    command: "python manage.py migrate"
    leader_only: true
  04_collectstatic:
    command: "python manage.py collectstatic --noinput"
    leader_only: true
  05_create_admin:
    command: "python manage.py create_accounts_admin"

packages:
  yum:
    make: []
    gcc-c++: []
    python34-devel: []
    postgresql93-devel: []
    postgresql93: []

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: ilazy_web/wsgi.py
  - option_name: DJANGO_SETTINGS_MODULE
    value: ilazy_web.settings.prod.aws
  - option_name: RDS_DB_ENGINE
    value: django.db.backends.postgresql_psycopg2
  - option_name: POSTMARK_SMTP_SERVER
    value: smtp.postmarkapp.com
